---
permalink: /
title: ODI Innovation Hub
description: Find resources from the Office of Data and Innovation to help you deliver great services.
layout: homepage-layout
---
      {# <div class="m-y-4"><img class="cagov-featured-image vector-bear" src="/img/hero-bear-nature.svg" alt="California bear with abstract shapes" width="1024" height="683"></div> #}
      <h2 class="no-top-margin">Human-centered design</h2>
      <div class="cagov-hero-body-content">
        <p>Create services that are more likely to meet people’s needs</p>

        <div class="content-grid-wrapper">
          <a class="tile-link" href="/human-centered-design/course/">
            <div class="content-tile">
              <div class="content-tile-header header-ribbon"><span class="title-card-header-label">Training</span></div>
              <div class="content-tile-title">Human-centered design course</div>
              <p>A self-paced course focused on building human-centered design skills
              </p>
            </div></a>

          <a class="tile-link" href="/human-centered-design/innovation-skills-accelerator/">
            <div class="content-tile">
              <div class="content-tile-header header-ribbon"><span class="title-card-header-label">Training</span></div>
              <div class="content-tile-title">Innovation Skills Accelerator</div>
              <p>A self-paced course that provides a general introduction to innovation
              </p>
            </div></a>
        </div>
      </div>
      <br clear="all"/>
      <hr class="homepage-divider" />
      <h2>Content design</h2>

      <div class="cagov-hero-body-content">
        <p>Write so people can easily understand and take action</p>

        <div class="content-grid-wrapper">
          <a class="tile-link" href="/content-design/principles/">
          <div class="content-tile">
            <div class="content-tile-header header-star"><span class="title-card-header-label">Standards and principles</span></div>
            <div class="content-tile-title">Content design principles</div>
            <p>ODI’s 7 keys for writing great content, including ways to implement them
            </p>
          </div></a>

          <a class="tile-link" href="/content-design/plain-language-equity-standard/">
          <div class="content-tile">
            <div class="content-tile-header header-star"><span class="title-card-header-label">Standards and principles</span></div>
            <div class="content-tile-title">Plain language equity standard</div>
            <p>Our recommendations for how to help everyone understand content
            </p>
          </div></a>

          <a class="tile-link" href="/content-design/introduction-plain-language-public-sector/">
            <div class="content-tile">
              <div class="content-tile-header header-ribbon"><span class="title-card-header-label">Training</span></div>
              <div class="content-tile-title">Introduction to plain language for the public sector</div>
              <p>An online, self-paced course introducing plain language for State of California staff
              </p>
            </div>
          </a>

          <a class="tile-link" href="/content-design/odi-style-guide/">
            <div class="content-tile">
            <div class="content-tile-header header-book"><span class="title-card-header-label">Guides and playbooks</span></div>
            <div class="content-tile-title">ODI’s style guide</div>
            <p>How we keep our writing consistent, including the reasons for our choices
            </p>
          </div></a>

          <a class="tile-link" href="/content-design/plain-language-checklist/"><div class="content-tile">
            <div class="content-tile-header header-book"><span class="title-card-header-label">Guides and playbooks</span></div>
            <div class="content-tile-title">Plain language checklist</div>
            <p>Our detailed guide for making sure content is in plain language
            </p>
          </div></a>

          <a class="tile-link" href="/content-design/recommended-reading/"><div class="content-tile">
            <div class="content-tile-header header-bookmark"></span><span class="title-card-header-label">Recommended reading</span></div>
            <div class="content-tile-title">Recommended reading: content design</div>
            <p>Articles, guides, and tools to learn more about content design
            </p>
          </div></a>
        </div>
      </div>
      <br clear="all"/>
      <hr class="homepage-divider" />
      <h2>Data</h2>

      <div class="cagov-hero-body-content">
        <p>Use information to deliver better decisions, services, and outcomes</p>

        <div class="content-grid-wrapper">
          <a class="tile-link" href="/data/enabling-analysis-californias-hiring-recruitment-data/">
          <div class="content-tile">
            <div class="content-tile-header header-paper"><span class="title-card-header-label">Papers</span></div>
            <div class="content-tile-title">Enabling analysis of California’s hiring and recruitment data</div>
            <p>How ODI and CalHR increased analysis capabilities for the Examination & Certification Online System
            </p>
          </div></a>

          <a class="tile-link" href="/data/forecasting-community-water-system-outages/">
          <div class="content-tile">
            <div class="content-tile-header header-paper"><span class="title-card-header-label">Papers</span></div>
            <div class="content-tile-title">Forecasting community water system outages</div>
            <p>How ODI forecasted the impact of drought on community water systems
            </p>
          </div></a>
      </div>
      <br clear="all"/>
      <hr class="homepage-divider" />
      <h2>Product management</h2>
      <div class="cagov-hero-body-content">
        <p>Focus on outcomes, iterate, and adapt to new evidence to solve people's needs
        </p>

        <div class="content-grid-wrapper">
          <a class="tile-link" href="/product-management/run-of-show/"><div class="content-tile">
            <div class="content-tile-header header-templates"><span class="title-card-header-label">Templates</span></div>
            <div class="content-tile-title">Run-of-show</div>
            <p>How to keep things organized in the lead up to a launch, announcement, or update
            </p>
          </div></a>

          <a class="tile-link" href="/product-management/product-craft-accessibility/">
          <div class="content-tile">
            <div class="content-tile-header header-bookmark"><span class="title-card-header-label">Recommended reading</span></div>
            <div class="content-tile-title">Product craft: accessibility</div>
            <p>Videos, guides, and presentations about how to help everyone access information
            </p>
          </div></a>
        </div>
      </div>
      <br clear="all"/>


