/* homepage base-css overrides */
.main-content-ds.landing {
  margin-top: -2rem;
}
/* mobile padding for whole page */
@media screen and (max-width: 767px) {
  .entry-content {
    padding: 0 1rem;
  }
  // will remove extra padding in mobile since main content container is already there
  #main-content .entry-content {
    padding: 0;
  }
}
/* fix h1 on markdown pages */
.cagov-content h1:first-of-type {
  margin: 0;
  padding: 0 0 24px 0;
}
/* For the BETA tag that appears in the site header */
.org-name-dept sup {
  color: var(--accent1-700, #9c4510);
  font-size: 0.6em;
}
/* Prevent images from overflowing on the component pages */
.component-page img {
  max-width: 100%;
}

/* utility class used on homepage midsection */
.cagov-mb-3 {
  margin-bottom: 3rem;
}

.pt-1 {
  padding: 1rem 0 0 0;
}
.mb-0 {
  margin-bottom: 0 !important;
}

blockquote {
  padding: 1rem;
  margin: 1.5rem 0;
  background-color: var(--accent1-100, #ffead6);
  p:last-child {
    margin: 0;
  }
}

/* jbum added */
div.wp-block-button {
  margin-top: 32px;
}

/* HOME PAGE tiles */
div.ds-content-layout { padding: 0 16px; } 

div.content-grid-wrapper {
  display: grid;
  grid-template-columns: 276px 276px 276px 276px;
  margin-top: 32px;
  gap:24px;
}
@media screen and (max-width: 1200px) {
  div.content-grid-wrapper {
    grid-template-columns: 276px 276px 276px;
  }
}
@media screen and (max-width: 900px) {
  div.content-grid-wrapper {
    grid-template-columns: 276px 276px;
  }
}
@media screen and (max-width: 600px) {
  div.content-grid-wrapper {
    grid-template-columns: 276px;
  }
}


div.content-tile {
  background-color:white;
  padding: 24px 16px;
  border-radius:8px;
  border: 1px solid #D4D4D7;
}
a.tile-link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
div.content-tile-header {
  font-size: 14px;
  border: 1px solid ;
  font-weight: 400;
  height: 26px;
  padding-right:12px;
  border-radius:8px;
  display: inline-block;
  position: relative;
  background-image: url(/img/tile-icon-star.png);
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: left 4px center;
  padding-left: 32px;
}
span.title-card-header-label {
  vertical-align:middle;
}

div.content-page-header {
  font-size: 14px;
  border: 1px solid ;
  font-weight: 400;
  height: 28px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right:12px;
  border-radius:8px;
  display: inline-block;
  position: relative;
  background-image: url(/img/tile-icon-star.png);
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: left 4px center;
  padding-left: 32px;
  margin-bottom: 16px;
}

span.content-page-header-label {
  vertical-align:middle;
}
/* ODI BLOCK */
div.odiblock-grid-wrapper {
  display: grid;
  grid-template-columns: 376px 770px;
  gap: 30px;
  margin-top: 4rem;

  @media screen and (max-width: 1200px) {
    grid-template-columns: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  

  div.odiblock-image {
    margin: auto auto;
    img {
      width: 376px;
      @media screen and (max-width: 1200px) {
        width: 90%;
      }
    }
  }
  div.odiblock-description {
    font-size: 18px;
    h2#about-odi {
      font-size: 29px;
      margin-bottom: 20px;
    }
    @media screen and (max-width: 1200px) {
      width: 90%;
    }
}
  
}


/* HOW TO USE TILES */
div.howtouse-grid-wrapper {
  display: grid;
  grid-template-columns: 508px 508px;
  margin-top: 32px;
  margin-bottom:32px;
  gap:48px;
  background-color: white;
  padding: 32px 32px;
  width: 100%;
}

@media screen and (max-width: 1000px) {
  div.howtouse-grid-wrapper {
    grid-template-columns: 508px;
  }
}

div.howtouse-tile-copy {
  clear: both; 
  min-height: 8rem;
  margin-top:32px;
}

div.howtouse-tile-copy.interim {
  min-height: 10rem;
}

div.howtouse-tile h2 {
  font-size: 23px;
  font-weight: 700px;
  color:black;
  padding: 8px 0;
  margin: 0 0;
}
div.howtouse-tile hr {
  border: 1px solid #C7D6E4;
  margin-bottom: 8px;
}

/* Plain language section */
div.plainlanguage-grid-wrapper {
  display: grid;
  grid-template-columns: 876px;
  margin-top: 32px;
  gap:0px;
}

div.plainlanguage-grid-wrapper div.plainlanguage-tile:not(:last-child) {
  border-bottom: 1px solid #C7D6E4;
}

div.plainlanguage-tile {
  display: grid;
  padding: 16px 16px;
  grid-template-columns: 36px 824px;
  gap: 0px;
  background-color: white;
}

div.checklist-left-icon {
  background-image: url(/img/circle-check-icon.png);
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: left top 6px;
  float:left;
  width: 36px;
  height: 44px;
}

div.checklist-tile-header {
  font-size: 23px;
  font-weight: 700;
}
div.checklist-tile-copy {
  font-size: 18px;
}

div.checklist-tile-header a {
  color: #0D4F8C;
  text-decoration: none;
}

div.checklist-tile-header a.external-link {
  padding-right: 32px;
  background-image: url(/img/ext-link-icon-dark.png);
  background-repeat: no-repeat;
  background-position: right 4px center;
  background-size: 20px;
}
div.checklist-copy-icon {
  float: left;
  margin-right: 32px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: left 8px center;
  padding-left: 40px;
  padding-right: 8px;
  margin-top: 16px;
  margin-bottom: 16px;
  height: 32px;
  border-radius:8px;
}
div.checklist-copy-icon span {
  font-size: 14px;
  vertical-align: middle;
}

div.checklist-copy-icon.icon-green {
  background-image: url(/img/green-circle-check-icon.png);
  background-color: #E5F1E7;
  border: 0.5px solid #9AC7A4
}
div.checklist-copy-icon.icon-red {
  background-image: url(/img/red-minus-icon.png);
  background-color: #FCE9E8;
  border: 0.5px solid #EEABA9
}


div.header-icon {
  background-repeat: no-repeat;
  background-size: 32px;
  background-position: center center;
  float:left;
  width: 54px;
  height: 54px;
  border-radius:8px;
  margin-right: 16px;
}
div.header-ribbon {     background-color: #EFECF8;  border: 1px solid #D7D1ED; 
                        background-image: url(/img/tile-icon-ribbon.png); }
div.header-star {       background-color: #FAECDA;  border: 1px solid #F4CEA1; 
                        background-image: url(/img/tile-icon-star.png); }
div.header-book {       background-color: #FDEAE5;  border: 1px solid #F7CBBE; 
                        background-image: url(/img/tile-icon-book.png); }
div.header-bookmark {   background-color: #E1F1EE;  border: 1px solid #8BC7BD; 
                        background-image: url(/img/tile-icon-bookmark.png); }
div.header-templates {  background-color: #EDEDEF;  border: 1px solid #D4D4D7; 
                        background-image: url(/img/tile-icon-template.png); }

div.content-tile-title {
  font-family: "Public Sans";
  font-size: 23px;
  font-weight: 700;
  color: #0D4F8C;
  padding:20px 0;
  line-height: 37px;

}
div.content-tile p {
  font-size: 14px;
  font-weight: 400;
}
hr.homepage-divider {
  margin-top: 24px;
  border: 1px solid #C7D6E4;
}
div.homepage-top-block {
  padding: 48px 0 0 0;
}
div.featured-content-band {
  background: #ECF1F6;
}
div.featured-resources-header {
  font-size: 23px;
  // font-weight: 700;
  // color: #0D4F8C;
  // padding: 24px 0;
  // margin: 0 0;
}
div.page-container-ds.featured-page-container {
  margin-bottom: 0px;
}
div.page-container-ds.post-featured-page-container {
  margin-top: 0px;
}
div.featured-resources-inner {
  background: #ECF1F6;
  margin-top: 48px;
  padding-top: 24px;
  padding-bottom: 48px;
}


div.leftright-nav-container {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 32px;
  margin-bottom:32px;
  &.long-right {
    grid-template-columns: 30% 70%;
  }
  &.long-left {
    grid-template-columns: 70% 30%;
  }
  .left-nav {
    text-align: left;
    padding-left: 24px;
    background-image: url(/img/left-angle-bracket-icon.png);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: left -4px center;
  }
  .right-nav {
    padding-right: 24px;
    text-align: right;
    background-image: url(/img/right-angle-bracket-icon.png);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: right -4px center;
  }
}
