/* site specific overrides */
a.btn-primary.external-link {
    background-color: var(--primary-color, #00315f);
    color: var(--white, #fff);
    border-color: var(--primary-color, #00315f);
    &:hover {
        background-color: var(--primary-dark-color, #003484);
        border-color: var(--primary-dark-color, #003484);
    }
    padding-left: 16px;
    padding-right: 44px;
    background-image: url(/img/ext-link-icon.png);
    background-repeat: no-repeat;
    background-position: right 14px center;
    background-size: 20px;
}
#skip-to-content {
    margin-top: -1px;
}

div.official-header {
    background-color: #00315f; // var(--primary-dark-color, #00315f);
    color:white;
}
div.site-header {
    background-color: var(--odi-brand, #f5f8fb);
}

.breadcrumb {
    font-size: 18px; /* calc(.875rem + var(--ratio)); */
    background: #fff;
    padding: 0.625rem;
    margin-left: 1rem;
}

/* this looks like it should be part of breadcrumb, not having it is a bug */
@media only screen and (max-width: 992px) {
    .breadcrumb {
        display: none;
    }
}

h1.page-title {
    font-family: var(--org-name-dept-font, "Noto Serif", serif);
    font-size: 54px;
    font-weight: var(--org-name-dept-font-weight, 700);
    color: var(--page-title-color,  #0D4F8C);
    margin: 0 0 0 0;
    padding: 0 0 var(--s-3) 0;
}

h2 {
    font-family: var(--org-name-dept-font, "Noto Serif", serif);
    color: var(--page-title-color,  #0D4F8C);
    font-size: 48px;
}

cagov-site-navigation {
    .container {
      padding-top: var(--s-1, 0.5rem);
      padding-bottom: var(--s-1, 0.5rem);
    }
  }
  
div.par-scores-container {
    padding: 1rem;
    margin: 1rem 0;
}

cagov-page-feedback {

    .feedback-form.cagov-stack {
        background: #00315f; // var(--primary-dark-color, #003484)!important
    }
    h2.feedback-form-label  {
        background: #00315f!important; // var(--primary-dark-color, #003484)!important
    }
}


main.cagov-main {
    div.blockquote-container {
        background-color: white;
        padding: 16px 16px;
        margin: 16px 0px;
        div.blockquote-body {
            border-left: 3px solid #E3881B;
            padding: 8px 16px;
            div.blockquote-header {
                margin-bottom: 16px;
            }
            div.blockquote-content {
                font-size: 14px;
            }
        }
    }
}

div.twocolumn-table {
    table {
        thead {
            background-color: #FAFAFA;
            th {
                border: 1px solid #C7D6E4;
                width: 50%;
                font-size: 18px;
            }
        }
        tbody {
            background-color: white;
            td {
                font-size: 14px;
                border: 1px solid #C7D6E4;
                width: 50%;
            }
        }
    }
}

div.runofshow-table {
    table {
        thead {
            background-color: #FAFAFA;
            th {
                border: 1px solid #C7D6E4;
                width: 26%;
                font-size: 18px;
            }
        }
        tbody {
            background-color: white;
            td {
                font-size: 14px;
                border: 1px solid #C7D6E4;
                width: 26%;
            }
        }
    }
}

section.site-footer {
    div.container {
        padding-left: 48px;
        background-image: url(/img/odi-logo.png);
        background-repeat: no-repeat;
        background-size: 32px;
        background-position: left center;
    
    }
}

footer {
    div.container {
        padding-left: 0px;
    }
    .cagov-logo {
        padding-right: 14px;
    }
}

cagov-page-feedback {
    &.cagov-mb-2 {
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
}