/* GLOBAL */
// Site Colors
@import 'theme-tokens'; /* theme colors */

/* sitewide styles */
@import '../../../../node_modules/@cagov/ds-base-css/src/core';

/* COMPONENTS/BLOCKS */
@import "../../../../node_modules/@cagov/ds-site-header/src/index.scss";
@import "../../../../node_modules/@cagov/ds-link-grid/src/index.scss"; /* copied from blocks */
@import "../../../../node_modules/@cagov/ds-feature-card/src/index.scss"; /* copied from block */
// @import "../../../../node_modules/@cagov/ds-step-list/src/index.scss"; /* copied from block */
@import 'step-list-patch';
@import "../../../../node_modules/@cagov/ds-skip-to-content/src/index.scss";
// @import '../../../../node_modules/@cagov/ds-back-to-top/src/index.scss';
@import "../../../../node_modules/@cagov/ds-table/src/index.scss";
@import '../../../../node_modules/@cagov/ds-page-alert/src/index.scss';

/* ICON LIBRARY */
// @import '../../../../node_modules/@cagov/ds-icons/src/icon-library.scss';
// @import '../../../../components/icons/src/icon-library.scss';

/* NAVIGATION ELEMENTS */
@import "../../../../node_modules/@cagov/ds-statewide-header/src/index.scss";
@import "../../../../node_modules/@cagov/ds-site-footer/src/index.scss";
@import "../../../../node_modules/@cagov/ds-statewide-footer/src/index.scss";
@import "../../../../node_modules/@cagov/ds-site-navigation/src/index.scss";

@import '../../../../node_modules/highlight.js/styles/a11y-dark';

/* sitewide styles */
@import './ds-site-global';

/* proposed new components */
// @import '../../../../components/highlight-section/src/index.scss';

/* proposed variations for existing design system components */
@import './feature-card-variations';

/* these are additions to base-css grids */
@import './grids';

/* Used on the components page to display component cards */
// @import './component-page';

/* Used on the principles page to display each principle */
// @import './principles-page';

/* Used on the visual design style guide page to for table and font demo styles */
// @import './design-guide-page';

@import './par-scores';

@import './layout';

#skip-to-content {
    margin-top: -1px;
  }
  
  /* site specific overrides */
  .breadcrumb {
    font-size: calc(.875rem + var(--ratio));
    background: #fff;
    padding: 0.625rem;
    margin-left: 1rem;
  }
  
  /* this looks like it should be part of breadcrumb, not having it is a bug */
  @media only screen and (max-width: 992px) {
    .breadcrumb {
      display: none;
    }
  }

  h1.page-title {
    font-family: var(--org-name-dept-font, "Noto Serif", serif);
    font-size: var(--org-name-dept-font-size, 47px);
    font-weight: var(--org-name-dept-font-weight, 700);
    color: var(--page-title-color,  #0D4F8C);
    margin: 0 0 0 0;
    padding: 0 0 var(--s-3) 0;
  }
  
  h2 {
    font-family: var(--org-name-dept-font, "Noto Serif", serif);
    color: var(--page-title-color,  #0D4F8C);
    font-size: 37px;
  }