/* GLOBAL */
// Site Colors
@import 'theme-tokens'; /* theme colors */

/* sitewide styles */
@import '../../../../node_modules/@cagov/ds-base-css/src/core';

/* COMPONENTS/BLOCKS */
@import "../../../../node_modules/@cagov/ds-site-header/src/index.scss";
@import "../../../../node_modules/@cagov/ds-link-grid/src/index.scss"; /* copied from blocks */
@import "../../../../node_modules/@cagov/ds-feature-card/src/index.scss"; /* copied from block */
// @import "../../../../node_modules/@cagov/ds-step-list/src/index.scss"; /* copied from block */
@import 'step-list-patch';
@import "../../../../node_modules/@cagov/ds-skip-to-content/src/index.scss";
// @import '../../../../node_modules/@cagov/ds-back-to-top/src/index.scss';
@import "../../../../node_modules/@cagov/ds-table/src/index.scss";
@import '../../../../node_modules/@cagov/ds-page-alert/src/index.scss';

/* ICON LIBRARY */
// @import '../../../../node_modules/@cagov/ds-icons/src/icon-library.scss';
// @import '../../../../components/icons/src/icon-library.scss';

/* NAVIGATION ELEMENTS */
@import "../../../../node_modules/@cagov/ds-statewide-header/src/index.scss";
@import "../../../../node_modules/@cagov/ds-site-footer/src/index.scss";
@import "../../../../node_modules/@cagov/ds-statewide-footer/src/index.scss";
@import "../../../../node_modules/@cagov/ds-site-navigation/src/index.scss";

@import '../../../../node_modules/highlight.js/styles/a11y-dark';

/* sitewide styles */
@import './ds-site-global';

/* proposed new components */
// @import '../../../../components/highlight-section/src/index.scss';

/* proposed variations for existing design system components */
@import './feature-card-variations';

/* these are additions to base-css grids */
@import './grids';

/* Used on the components page to display component cards */
// @import './component-page';

/* Used on the principles page to display each principle */
// @import './principles-page';

/* Used on the visual design style guide page to for table and font demo styles */
// @import './design-guide-page';

@import './par-scores';

@import './layout';

@import './temp-buttons';

