/* Cagov color scheme root variables */
:root {
  /* Theme colors */
  --primary-color: #0d4f8c;
  --primary-700: #0d4f8c; /* was 0473bd */
  --primary-900: #003484;
  --primary-dark-color: #003484; // #00315f;
  --primary-light-color: #3f73a4;
  --primary-lightest-color: #7fa1c2;
  --primary-hover-color: #00315f;

  --secondary-color: #704315;
  --secondary-dark-color: #472a06;
  --secondary-light-color: #a26016;
  --secondary-lightest-color: #e4881e;
  --secondary-hover-color: #472a06;

  --highlight-color: #c24629;
  --highlight-dark-color: #512317;
  --highlight-light-color: #c24629;
  --highlight-lightest-color: #e0866d;
  --highlight-hover-color: #512317;

  /* sitewide gradient */
  --top-gradient: linear-gradient(#fbefe0, #fff 600px);

  --org-name-dept-font-size: 1.75rem;
  --org-name-dept-font: "Noto Serif";

  --odi-brand: #F5F8FB;

  /* 2025 styles */
  --alt-blue: #00315f; //primary-900
  --alt-yellow: #FAAD24;
}
