        <div class="featured-resources-header">Featured resources</div>
        <h2>Plain language equity toolkit</h2>
        <div class="cagov-hero-body-content">
          <p>Promote equity by helping everyone understand information</p>
          <div class="content-grid-wrapper">
            <a class="tile-link" href="/content-design/plain-language-equity-standard/">
              <div class="content-tile">
                <div class="content-tile-header header-star"><span class="title-card-header-label">Standards and principles</span></div>
                <div class="content-tile-title">Plain language equity standard</div>
                <p>Our recommendations for how to help everyone understand content
                </p>
              </div>
            </a>

            <a class="tile-link" href="/content-design/principles/write-in-plain-language/">
              <div class="content-tile">
                <div class="content-tile-header header-star"><span class="title-card-header-label">Standards and principles</span></div>
                <div class="content-tile-title">Content design principle: write in plain language</div>
                <p>Why plain language is important and tips for doing it in your writing
                </p>
              </div>
            </a>

            <a class="tile-link" href="/content-design/plain-language-checklist/">
              <div class="content-tile">
                <div class="content-tile-header header-book"><span class="title-card-header-label">Guides and playbooks</span></div>
                <div class="content-tile-title">Plain language checklist</div>
                <p>Our detailed guide for making sure content is in plain language
                </p>
              </div>
            </a>

            <a class="tile-link" href="/content-design/recommended-reading/">
              <div class="content-tile">
                <div class="content-tile-header header-bookmark"><span class="title-card-header-label">Recommended reading</span></div>
                <div class="content-tile-title">Recommended reading: content design</div>
                <p>Guides on plain language and other content design topics
                </p>
              </div>
            </a>
          </div>
        </div>
