<script>
  document.head.appendChild(
    Object.assign(document.createElement('script'), {
      src: 'https://alert.cdt.ca.gov',
      defer: true,
      crossOrigin: 'anonymous',
    }),
  );
</script>
