{% extends "layouts/index.njk" %}
{% block content %}
<div id="page-container" class="page-container-ds">
  <div class="breadcrumb" aria-label="Breadcrumb" role="region">
    <a class="crumb" href="https://ca.gov" title="CA.gov">CA.gov</a>
    <span class="crumb separator">/</span>
    <a class="crumb" href="/" title="Office of Data and Innovation">Office of Data and Innovation</a>
    {% if parentid %}
      <span class="crumb separator">/</span>
      <span class="crumb">{{ fileids[parentid] | safe }}</span>
    {% endif %}
    <span class="crumb separator">/</span>
    <span class="crumb current">{{ title | safe }}</span>
  </div>
  <main id="body-content" class="cagov-main">
    <article id="post-{{ page.fileSlug }}" class="cagov-article with-single-column">
      {% if headerlabel %}
      <div class="content-page-header header-{{headericon}}"><span class="content-page-header-label">{{ headerlabel }}</span></div>
      {% endif %}
      <h1 class="page-title">
        {{ title | safe }}
      </h1>
      <div class="cagov-content">
        {{ content | safe }}
      </div>
    </article>
  </main>
</div>
{% endblock %}